.hello {
  font: 15px Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 100px;
  text-align: center;
  transition: 100ms ease-in background;
}
.hello:hover {
  background: #ccc;
}
.main{
  background-color:rgb(255, 250, 240);
  text-align: center;
}
.footer{
  padding: 10px;
}
.header{
  padding: 10px;
}
.button{
  margin: 30px;

}
